.about-author {
  text-align: center;
  padding: 15px;
  padding-top: 140px;
  margin-bottom: 80px;
}

.about-author__wrapper {
  border: 3px solid $third-color;
  padding: 115px 15px 70px 15px;
  position: relative;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.about-author__image {
  position: absolute;
  top: -150px;
  left: calc(50% - 92px);
}

.about-author__title {
  margin-bottom: 15px;
}

.about-author__text {
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
  font-weight: 300;
  margin-bottom: 40px;
}

@media (min-width: $tablet-min-width) {
  .about-author {
    padding-top: 15px;
    margin-bottom: 120px;
  }

  .about-author__centering {
    @include tablet-centering;
  }

  .about-author__wrapper {
    margin-left: 140px;
    min-height: 495px;
    padding-left: 170px;
    padding-right: 70px;
    text-align: left;
  }

  .about-author__image {
    height: 360px;
    width: 280px;
    left: -141px;
    top: 60px;
  }

  .about-author__title {
    margin-bottom: 40px;
    position: relative;
  }

  .about-author__title::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 2px;
    background-color: $primary-color;
    bottom: -20px;
    left: -105px;
    opacity: 0.1;
  }

  .about-author__text {
    margin-bottom: 25px;
    width: 250px;
  }
}

@media (min-width: $desktop-min-width) {
  .about-author__centering {
    @include desktop-centering;
  }

  .about-author__wrapper {
    width: 736px;
    height: 600px;
    margin-left: 293px;
    padding-left: 265px;
  }

  .about-author__image {
    height: 476px;
    width: 369px;
    left: -183px;
  }

  .about-author__title::after {
    width: 400px;
    bottom: -10px;
    left: -185px;
  }

  .about-author__text {
    margin-bottom: 50px;
  }
}
