.features {
  padding: 15px;
}

.features__title {
  margin-bottom: 25px;
  padding-right: 25px;
  padding-left: 5px;
  position: relative;
}

.features__title::before,
.features__title::after {
  content: "";
  position: absolute;
  width: 69px;
  height: 2px;
  background-color: $third-color;
}

.features__title::before {
  top: -48px;
  left: 0;
}

.features__title::after {
  top: -33px;
  left: 15px;
}

.features__item {
  list-style-type: none;
  position: relative;
  min-height: 60px;
  padding-top: 15px;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.features__item::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  box-shadow: inset 0 0 0 9px white;
  border-radius: 50%;
  // border: 6px solid #3c4147;
  border: 6px solid rgba(60, 65, 71, .8);
  top: 15px;
  left: 10px;
  background-clip: padding-box;
}

.features__item::after {
  position: absolute;
  font-size: 72px;
  line-height: 52px;
  font-weight: 900;
  opacity: 0.1;
  top: 0;
  left: 55px;
}

.features__item--one::after {
  content: "1";
}

.features__item--two::after {
  content: "2";
}

.features__item--three::after {
  content: "3";
}

.features__item--four::after {
  content: "4";
}

.features__item--five::after {
  content: "5";
}

@media (min-width: $tablet-min-width) {
  .features__centering {
    @include tablet-centering;
  }

  .features__title {
    padding-left: 0;
  }

  .features__title::before {
    left: -65px;
  }

  .features__title::after {
    left: -45px;
  }

  .features__list {
    padding-left: 65px;
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 43%;
  }
}

@media (min-width: $desktop-min-width) {
  .features {
    background-image: url("../img/figure.png");
    background-size: 1538px;
    background-repeat: no-repeat;
    background-position: center 225px;
    min-height: 643px;
    position: relative;


    &::after {
      content: "";
      position: absolute;
      height: 315px;
      left: 0;
      right: 0;
      top: 200px;
      background-image:
      linear-gradient(rgba(255, 255, 255, .1) .1em, transparent .1em);
      background-size: 100% 6.4em;
    }
  }

  .features__centering {
    @include desktop-centering;
  }

  .features__title {
    margin-bottom: 80px;
  }

  .features__list {
    position: relative;
  }

  .features__item {
    position: absolute;
    width: 270px;

    &--one {
      top: 140px;
      left: -45px;
    }

    &--two {
      top: 55px;
      left: 240px;
    }

    &--three {
      top: 157px;
      left: 450px;
    }

    &--four {
      top: 57px;
      left: 673px;
    }

    &--five {
      left: 844px;
      top: 15px;
    }
  }

  .features__item::before {
    width: 40px;
    height: 40px;
    border-width: 8px;
  }

  .features__item--one::before {
    top: 138px;
    left: 36px;
  }

  .features__item--two::before {
    top: 134px;
    left: 70px;
  }

  .features__item--three::before {
    top: 149px;
    left: 70px;
  }

  .features__item--four::before {
    top: 123px;
    left: 87px;
  }

  .features__item--five::before {
    top: 96px;
    left: 87px;
  }
}
