.features {
  padding: 15px;
}

.features__title {
  margin-bottom: 25px;
  padding-right: 25px;
  padding-left: 5px;
  position: relative;
}

.features__title::before,
.features__title::after {
  content: "";
  position: absolute;
  width: 69px;
  height: 2px;
  background-color: $third-color;
}

.features__title::before {
  top: -48px;
  left: 0;
}

.features__title::after {
  top: -33px;
  left: 15px;
}

.features__item {
  list-style-type: none;
  position: relative;
  min-height: 60px;
  padding-top: 15px;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.features__item::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='2' cx='2' cy='2'%3E%3C/circle%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 6px 6px;
  border-radius: 50%;
  border: 6px solid #3c4147;
  top: 15px;
  left: 10px;
}

.features__item::after {
  position: absolute;
  font-size: 72px;
  line-height: 52px;
  font-weight: 900;
  opacity: 0.3;
  top: 0;
  left: 55px;
}

.features__item--one::after {
  content: "1";
}

.features__item--two::after {
  content: "2";
}

.features__item--three::after {
  content: "3";
}

.features__item--four::after {
  content: "4";
}

.features__item--five::after {
  content: "5";
}

@media (min-width: $tablet-min-width) {
  // .features {
  //   background-color: pink;
  // }

  .features__centering {
    @include tablet-centering;
    background-color: pink;
  }

  .features__title {
    padding-left: 0;
  }

  .features__title::before {
    left: -65px;
  }

  .features__title::after {
    left: -45px;
  }

  .features__list {
    padding-left: 65px;
  }
}
