.footer {
  background-color: #080d13;
  text-align: center;
  padding: 25px 15px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 18px;
  color: $secondary-color;

  &--caption {
    color: $third-color;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-min-width) {
  .footer__copyright {
    font-size: 14px;
    line-height: 24px;
  }
}
