.hero {
  text-align: center;
  min-height: 565px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.hero__centering {
  min-height: 530px;
  background-image: url("../img/scrins-mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 63%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.hero__centering::before {
  content: "";
  position: absolute;
  background-image: url("../img/bg-tablet.png");
  background-repeat: no-repeat;
  background-size: 390px;
  background-position: center;
  width: 516px;
  height: 507px;
  top: 45px;
  left: calc(50% - 258px);
}

.hero__title {
  margin-bottom: 20px;
}

.hero__text {
  padding: 0 20px;
}

.hero__form {
  margin-top: auto;
  width: 290px;
  max-width: 300px;
}

@media (min-width: $tablet-min-width) {
  .hero {
    min-height: 420px;
  }

  .hero__centering {
    @include tablet-centering;
    padding-right: 300px;
    padding-bottom: 20px;
    background-image: url("../img/scrins.png");
    background-size: 340px;
    background-position: 432px center;
    text-align: left;
    min-height: 300px;
    align-items: flex-start;
  }

  .hero__centering::before {
    top: -110px;
    z-index: -1;
    right: -115px;
    background-size: 520px;
    left: auto;
  }

  .hero__text {
    padding: 0;
  }

  .hero__form {
    width: 408px;
    max-width: 100%;
  }

  .hero__input {
    width: 212px;
  }

  .hero__link {
    width: 196px;
  }
}

@media (min-width: $desktop-min-width) {
  .hero {
    margin-bottom: 65px;
  }

  .hero__centering {
    @include desktop-centering;
    padding-right: 0;
    padding-bottom: 100px;
    padding-top: 50px;
    background-size: 560px;
    background-position: 665px center;
    // min-height: 475px;
  }

  .hero__centering::before {
    width: 895px;
    height: 856px;
    top: -205px;
    right: -215px;
    background-size: 815px;
  }

  .hero__title {
    margin-bottom: 30px;
  }

  .hero__text {
    margin-bottom: 70px;
  }

  .hero__form {
    width: 570px;
  }

  .hero__input {
    width: 374px;
  }
}
