.hero {
  padding: 15px;
  text-align: center;
  height: 565px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg-tablet.png");
  background-repeat: no-repeat;
  background-size: 360px;
  background-position: center 130px;
  margin-bottom: 50px;
}

.hero__centering {
  min-height: 455px;
  background-image: url("../img/scrins-mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 85%;
}

.hero__title {
  margin-bottom: 20px;
}

.hero__text {
  padding: 0 20px;
}

.hero__form {
  margin-top: auto;
}
