.timer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 290px;
  margin: 0 auto;
}

.timer__item {
  height: 55px;
  width: 55px;
  font-size: 32px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  position: relative;
}

.timer__wrapper:not(:last-child) .timer__item::before,
.timer__wrapper:not(:last-child) .timer__item::after {
  content: "";
  background-color: $primary-color;
  opacity: 0.2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 65px;
}

.timer__wrapper:not(:last-child) .timer__item::before {
  top: 15px;
}

.timer__wrapper:not(:last-child) .timer__item::after {
  top: 32px;
}

.timer__text {
  font-size: 12px;
  line-height: 13px;
  text-transform: lowercase;
  color: $secondary-color;
}

@media (min-width: $tablet-min-width) {
  .timer__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-min-width) {
  .timer {
    width: 570px;
  }

  .timer__item {
    font-size: 60px;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
  }

  .timer__wrapper:not(:last-child) .timer__item::before,
  .timer__wrapper:not(:last-child) .timer__item::after {
    width: 6px;
    height: 6px;
    left: 133px;
  }

  .timer__wrapper:not(:last-child) .timer__item::before {
    top: 50px;
  }

  .timer__wrapper:not(:last-child) .timer__item::after {
    top: 75px;
  }

  .timer__text {
    font-size: 18px;
    line-height: 24px;
  }
}
