.title {
  font-size: 20px;
  line-height: 33px;
  text-transform: uppercase;
  font-weight: 400;
}

.title__caption {
  color: $third-color;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: $tablet-min-width) {
  .title {
    font-size: 28px;
    letter-spacing: 0.05em;
  }
}

@media (min-width: $desktop-min-width) {
  .title {
    font-size: 40px;
    line-height: 52px;
  }
}
